    <head>
        <title>Johnb1n's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Johnb1n's blog</a></h1>
        </div>

        <div>
                <h2>Self-tought web developer, infosec student from Czech</h2>
        </div>

            {% for post in posts %}
        <div>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>published: {{ post.published_date }}</p>
        </div>
    {% endfor %}
        </body>
</html>